*{
    font-family: 'Roboto Condensed', monospace;
}

body, html {
    height: 100%;
    background-image: url(../img/7.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("../img/6.jpg");
    min-height: 75%;
    
  }
 
  
    
  
  .menu {
    display: none;
    
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
 .h5{

  font-size: 200%;
  font-weight: bold;
  
   
 }
 .strokeme {
  text-align: center;
   color: #fff;
   text-shadow: 2px 2px 8px #000;
}
 h1{
   text-align: center;
   color: #fff;
   text-shadow: 2px 2px 8px #000;
  }
  /* centralizar imagem*/
 img
 {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
  .h3
  {
  
  display:block;
  
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #fff;
   text-shadow: 2px 2px 8px #000;
  }